<nav>
    <div class="nav-wrapper">
        <% if ( isAuthenticated ) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
</nav>